.headerLabel {
    font-family: Verdana;
    font-size: 24px;
    margin: 10px;
}

.productsTableContent {
    font-family: Verdana;
    font-size: 12px;
    border: 1px solid silver;
    margin: 10px;
}

.productsTableHeader {
    background-color: #2062B8;
    color: white;
    font-weight: bold;
}

.productsTablePajama0 {
    background-color: #DFDFDF;
}

.productsTablePajama1 {
    background-color: white;
}

.productsTableIdCell {
    font-family: Verdana;
    font-size: 12px;
    width: 6em;
}

.productsTableNameCell {
    font-family: Verdana;
    font-size: 12px;
    width: 32em;
}

.productsTablePriceCell {
    font-family: Verdana;
    font-size: 12px;
    text-align: right;
    width: 6em;
}

.productsTableQuantityCell {
    font-family: Verdana;
    font-size: 12px;
    text-align: right;
    width: 6em;
}

.productsTableActionCell {
    width: 5em;
}

.removeButton {
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

.noProductsLabel {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.totalPricePanel {
    margin: 10px;
}

.totalPriceLabel {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

.totalQuantityLabel {
    color: #0033CC;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 50px;
}

.submitButton {
    color: #0033CC;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
}

.newProductPanel {
    margin: 10px;
}

.newProductLabel {
    font-family: Verdana;
    font-size: 12px;
    margin: 10px;
}

.newProductText {
    font-family: Verdana;
    font-size: 12px;
    width: 24em;
    margin-right: 5px;
}

.newProductButton {
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
}

.lastUpdateLabel {
    font-family: Verdana;
    font-size: 10px;
    margin: 25px 10px 0px;
}

.confirmPanel {
    background-color: #EFEFEF;
}

.messageText {
    margin: 20px 20px 5px;
}

.confirmText {
    margin: 5px 20px 20px;
}

.errorLabel {
    color: red;
}

.closeButton {
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    width: 6em;
}
