<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>deors.demos.web.gwt2spring</display-name>

    <!-- Listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet>
        <servlet-name>getProducts</servlet-name>
        <servlet-class>deors.demos.web.gwt2spring.server.services.GetProductsServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductNames</servlet-name>
        <servlet-class>deors.demos.web.gwt2spring.server.services.GetProductNamesServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductByName</servlet-name>
        <servlet-class>deors.demos.web.gwt2spring.server.services.GetProductByNameServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeOrder</servlet-name>
        <servlet-class>deors.demos.web.gwt2spring.server.services.PlaceOrderServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getProducts</servlet-name>
        <url-pattern>/deors.demos.web.gwt2spring.ProductListSpring/getProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductNames</servlet-name>
        <url-pattern>/deors.demos.web.gwt2spring.ProductListSpring/getProductNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductByName</servlet-name>
        <url-pattern>/deors.demos.web.gwt2spring.ProductListSpring/getProductByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeOrder</servlet-name>
        <url-pattern>/deors.demos.web.gwt2spring.ProductListSpring/placeOrder</url-pattern>
    </servlet-mapping>

    <!-- Default page -->
    <welcome-file-list>
        <welcome-file>ProductListSpring.html</welcome-file>
    </welcome-file-list>

</web-app>
